$clr-background: white;
$clr-grid: black;

$game-size: 700px;
$grid-size: 7px;
$game-text: 0.75;

.relative {
  position:relative;
}

.crown::before {
  position: absolute;
  left: -2ch;
  content: '👑';
}

.hidden {
  display: none;
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}

body {
  display: grid;
  grid-template-rows: 1fr 75px 50px;
  gap: 10px;

  background-color: $clr-background;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// fix for scaling of the scaling of the grid
@media (orientation: landscape) {
  #game-with-grid {
    max-height: $game-size;
    height: 100%;    
  }
}

@media (orientation: portrait) {
  #game-with-grid {
    max-width: $game-size;
    width: 100%;    
  }
}

#game-with-grid {
  display: grid;
  grid-template: repeat(3,1fr) / repeat(3,1fr);
  aspect-ratio: 1/1;

  gap: $grid-size;

  background-color: $clr-grid;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 50px;
    min-width: 50px;

    border: none;
    background-color: $clr-background;
  }

  .container {
    container-type: size;
    overflow: hidden;
  }
  
  .container-child {
    font-size: 80cqw;
  }
}

#score-section {
  $score-font-size: 2rem;

  display: flex;
  justify-content: center;
  gap: 5vw;

  font-size: $score-font-size;
  text-align: center;
  justify-content: center;

  .symbol input {
    font-size: $score-font-size;
    width: 2ch;
  }
}

@keyframes blink {
  50% {
      visibility: hidden
  }
}

.blink {
  animation: blink .3s steps(1) 3;
}

footer {
  text-align: center;
  justify-self: center;
  align-self: center;

  font-size: 1.25rem;
}

@media screen and (max-width: 620px) {
  $score-font-size: 1.5rem;
  #score-section {
    display: flex;
    justify-content: center;
    gap: 5vw;
  
    font-size: $score-font-size;
    text-align: center;
    justify-content: center;
  
    .symbol input {
      font-size: $score-font-size;
      width: 2ch;
    }
  }
}