$clr-background: white;
$clr-grid: black;

.hidden {
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $clr-background;
}

main {
  flex: 1;
}

#grid {
  $square-size: 200px;
  $symbol-size: calc($square-size*0.7);
  $grid-size: 7px;

  display: grid;
  grid-template: repeat(3,$square-size) / repeat(3,$square-size);
  width: calc(3*$square-size);

  gap: $grid-size;

  background-color: $clr-grid;

  button {
    font-size: $symbol-size;
    border: none;
    background-color: $clr-background;
  }
}

main > #game {
  display: flex;
  justify-content: center;

  margin: 20px;
}

#score-section {
  display: grid;
  grid-template:  repeat(2,3rem) / 500px 200px 500px;

  font-size: 3rem;
  text-align: center;
  justify-content: center;
}

footer {
  text-align: center;
  // background-color: grey;

  font-size: 1.25rem;
  padding: 15px 0;
}